<footer class="footer">
    <section class="footer__sections">
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Tienda</a>
            <ul class="footer__shop-li">
                <li>Productos</li>
                <li>Cajoneras</li>
                <li>Para toda la casa</li>
                <li>Habitaciones</li>
            </ul>
        </section>
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Nosotros</a>
            <ul class="footer__aboutus-li">
                <li>Nuestra guía</li>
                <li>Nuestro diseño</li>
                <li>Ayuda</li>
            </ul>
        </section>
        <section class="footer__sections--shop">
            <a target="__blank" class="title3" href="https://adalab.es/">Contacto</a>
            <span class="footer__aboutus-li">
                <nav>ayuda@openspaces.com</nav>
                <nav>Socios</nav>
                <nav class="icons__social-icon">
                    <nav class="linkedin">
                        <a target="__blank" href="https://www.linkedin.com/school/adalab/"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                    </nav>
                    <nav class="instagram">
                        <a target="__blank" href="https://www.instagram.com/accounts/login/?next=/adalab_digital/"><i
                                class="fa-brands fa-instagram"></i></a>
                    </nav>
                    <nav class="twitter">
                        <a target="__blank" href="https://twitter.com/Adalab_Digital"><i
                                class="fa-brands fa-twitter"></i></a>
                    </nav>
                </nav>
            </span>
        </section>
    </section>
    <nav class="footer__uparrow">
        <a href="#"><img src="assets/images/uparrow.png" alt="image uparrow"></a>
    </nav>
</footer>