<section class="main__offer">
    <h2 class="main__offer--title">Special Offer</h2>
    <section class="main__offer--discountdescrip">
        <h3 class="main__offer--discount">20% discount</h3>
        <p class="main__offer--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. A ut esse numquam
            itaque, exercitationem corrupti iste ea atque eveniet, dolores sed recusandae autem natus totam tenetur.
            Itaque amet laborum quisquam.</p>
    </section>

</section>