@import "./core/variables";
@import "./core/reset";

.header {
  width: 100vw;
  height: 389px;
  text-align: center;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: space-between;

  &__menu {
    width: 100%;
    align-items: center;
    display: flex;
    position: fixed;
    padding-left: 5%;
    margin: 19px 0px;
    &--openspaces {
      justify-items: center;
      display: block;
      margin: auto;
    }
  }

  &__banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    align-items: center;
  }

  &__nav {
    display: none;
  }
}

.button {
  background: $color-hex;
  color: $color-white;
  width: 176px;
  height: 48px;
    margin: 24px 0px 64px 0px;
    font-size: 16px;
}

.title {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.title3 {
  font-size: 20px;
  font-weight: bold;
}

.title2 {
  font-size: 14px;
}

.description {
  font-size: 16px;
}

.image__article {
  width: 90px;
  height: 99px;
  margin-bottom: 10%;
}

.main {
  &__organized {
    text-align: center;
    align-items: center;
    background-color: $color-ligh-grey;
    padding: 8%;

    &--articles {
      display: grid;
      margin-top: 41px;
      //   padding: 0% 20%;
    }
  }
  &__sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-white;
    &--image {
      width: 120px;
      height: 120px;
    }
  }
}

.main__organized--articles{
    padding: 0% 20%;
}

.main__sent {
  background-color: $color-orange;
  height: 352px;
}
.description.sent{
    font-size: 14px;
}

.description.products{
    font-size: 14px;
}
.spaces {
  background-color: $color-ligh-grey;
  &__enjoy {
    height: 339px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
  }
  &__image {
    height: 304px;
    width: 100%;
  }
}

.link-buy {
  padding-top: 5%;
  font-size: 16px;
}

.imagen {
  height: 304px;
  text-align: center;
  background-image: url(../images/creando-espacios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  //   height: 545px;
  background-color: $color-hex;
  color: $color-grey;
  //   display: flex;
  //   flex-direction: column;
  padding: 56px 59px 56px 146px;
}

.footer__shop {
  margin: 10% 0%;
  font-size: 14px;
}
.icos__social-icon {
  white-space: normal;
}

@media all and (min-width: 768px) {
  .header {
    height: 770px;
  }

  .header__banner {
    justify-content: center;
    align-items: flex-start;
    padding: 20% 0px 0px 20%;
  }

  .title {
    font-size: 36px;
  }

  .main__organized {
    height: 532px;
    &--articles {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5%;
      padding: 0;
    }
  }
  .imagen {
    height: 474px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 10%;
  }

  .title.organized {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
  .title.sent{
      font-size: 30px;
  }
  .title.enjoy{
      font-size: 30px;
  }
}


@media all and (min-width: 1200px) {
  .header {
    height: 1024px;
    &__menu {
      &--bars {
        display: none;
      }
    }
    &__nav {
      display: flex;
      &--list {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .title.organized {
    font-size: 36px;
  }
  .title {
    font-size: 24px;
  }
  .title.enjoy {
    font-size: 30px;
  }

  .main__organized {
    height: 611px;
    &--articles {
      grid-gap: 20%;
      padding: 0px 239px 0px 310px;
    }
}

.spaces {
    background-color: $color-ligh-grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}